# --- AI MODELS & LARGE BINARIES ---
# Tüm GGUF ve BIN dosyalarını her yerden engelle
*.gguf
*.bin
*.weights
*.onnx
# Model klasörlerini ve asset dökümlerini engelle
/src/assets/models/
/android/app/src/main/assets/*.gguf
/android/app/src/main/assets/*.bin
/android/app/src/main/assets/ggml-hexagon/

# --- NODE.JS ---
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
.eslintcache

# --- ANDROID ---
.gradle
build/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
.idea/

# --- IOS ---
ios/build/
ios/Pods/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
/vendor/bundle/

# --- REACT native & METRO ---
*.jsbundle
.metro-health-check*
/coverage
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# --- SYSTEM FILES ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- FASTLANE ---
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
.aider*
